<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="navbar">
        <a href="#">
          <img src="assets/icons/header-logo.svg" alt="The Movie Database (TMDB)">
        </a>
        <ul class="navbar__list">
          <li><a class="navbar__link" href="#">Movies</a></li>
          <li><a class="navbar__link" href="#">TV Shows</a></li>
          <li><a class="navbar__link" href="#">People</a></li>
          <li><a class="navbar__link" href="#">More</a></li>
        </ul>
      </nav>
      <div class="right">
        <ul class="right__list">
          <li><a class="right__plus" href="#"><fa-icon [icon]="faPlus"></fa-icon></a></li>
          <li><a class="right__language" href="#">EN</a></li>
          <li><a class="right__bell" href="#"><fa-icon [icon]="faBell"></fa-icon></a></li>
          <li><a class="right__login" href="#">Login</a></li>
          <li><a class="right__join" href="#">Join TMDB</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>