<section class="hero">
  <div class="hero__container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <div class="welcome">
          <h2 class="welcome__title">Welcome.</h2>
          <h3 class="welcome__subtitle">
            Millions of movies, TV shows and people to discover. Explore now.
          </h3>
        </div>
        <form class="form">
          <label>
            <input
              class="form__input"
              type="text"
              placeholder="Search for a movie, tv show, person......"
            />
          </label>
          <button class="form__button">Search</button>
        </form>
      </div>
    </div>
  </div>
</section>
